---
import Layout from '../layouts/Layout.astro';
import CSSReset from '../styles/Reset.astro';
import FontStyles from '../styles/Fonts.astro';
import Variables from '../styles/Variables.astro';
import GlobalStyles from '../styles/Globals.astro';
import BackgroundWave from '../components/BackgroundWave.astro';

---

<Layout>
	<CSSReset/>
	<Variables />
	<GlobalStyles/>
	<FontStyles />
	<BackgroundWave />
	<h1>Ostrich Book</h1>
</Layout>
